@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,500&family=Poppins:wght@100;200;400;500;600;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~leaflet/dist/leaflet.css';
.leaflet-container {
      height:610px;
      width: 1100px;
      margin: 8px,12px;
      z-index: 0;
      position: relative;
      border-radius: 20px;
}

#landing{
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}